@import "tailwindcss";

:root {
  --background: #030712; /* Slate 950 */
  --foreground: #f9fafb; /* Slate 50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Custom premium scrollbar utilities */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Utilities for blocker events on mobile whiteboard */
.blockTouch {
  touch-action: none;
}
